*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.header_nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}
.header_nav .header-left{
    min-width: max-content;
    margin-right: 50px;
}
a{
    text-decoration: none;
}
.homepage_no_login_container{
    display: flex;
}
.homepage_no_login_container fieldset{
    padding: 50px;
    margin: 0 20px;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr;
}
.homepage_no_login_container fieldset label{
    font-size: 14px;
}
.homepage_no_login_container fieldset input{
    margin-bottom: 15px;
    padding: 5px;
    font-size: 14px;
}
@media only screen and (max-width: 700px){
    .homepage_no_login_container{
        flex-direction: column;
        position: unset;
        transform: unset;
        padding-top: 25px;
    }
}

.logout-btn{
    color: white;
    background-color: transparent;
    cursor: pointer;
}
.logout form{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.boardArchiveControls, .listControls{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.boardArchiveControls form, .listControls form{
    display: none;
}
.boardArchiveControls form input, .listControls form input{
    padding: 6px;
}
.boardArchiveBoardsContainer{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
}
.boardArchiveBoardsContainer .boardCard:nth-child(2n){
    background-color: rgb(255, 66, 66)!important;
}
.boardArchiveBoardsContainer .boardCard:nth-child(3n){
    background-color: rgb(0, 225, 255)!important;
}
.list-container{
    display: flex;
    flex-direction: row;
    place-items: flex-start;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}
.single-list{
    max-width: 250px;
    min-width: 250px;
    margin-right: 20px;
    max-height: 70vh;
    overflow-y: auto;
    position: relative;
}

.single-list h1{
    font-size: 26px;
}
.list-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}
.list-footer i{
    margin-left: 5px;
}
.list-footer button{
    background-color: white;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    padding: 0 10px;
}
.singleCard{
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #aaa;
    padding: 0;
    overflow: hidden;
    transition: .2s ease;
    cursor: pointer;
    flex-grow: 1;
}
.singleCard:hover{
    background-color: #aaa;
    color: white;
}
.singleCard h4{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    
}
.singleCard p{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.modal{
    display: none;
    position: absolute;
    inset: 0;
    background-color: #444444aa;
    justify-content: center;
    align-items: center;
    
}
.modalInner{
    background-color: white;
    padding: 20px;
    position: relative;
    max-width: 40vw;
    min-width: 30vw;
}
.modalInner span{
    position: absolute;
    right: 10px;
}
.modalContent{
    margin-top: 50px;
}
.addCardForm{
    display: flex;
    flex-direction: column;
}
.addCardForm input[type='submit']{
    margin-top: 15px;
}
.addCardForm select{
    padding: 5px 0;
}
.list-header, .boardCard{
    display: flex;
    flex-direction: row;
}
.list-header h1, .boardCard a{
    flex-grow: 1;
}
.list-header button, .boardCard button{
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}
.single-card-button{
    background-color: transparent;
    border: none;
    display: flex;
    width: 100%;
}

div.empty-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px;
}

.sortListModal{
    display: flex;
    flex-direction: column;
}

.sortListModal select{
    padding: 5px;
    margin-bottom: 5px;
}

.logout{
    display: flex;
    align-items: center;
}

.editAccount{
    margin: 20px;
    display: inline-flex;
    flex-direction: column;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}